{% extends 'base.html' %}

{% block content %}

<div class="p-4"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    
      {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
            <li class="alert alert-danger">{{ error|escape }}</li>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <li class="alert alert-danger">{{ error|escape }}</li>
        {% endfor %}
      {% endif %}
    <h2>Login here</h2>
    <form name="login" id="login" method="POST">
      {% csrf_token %}
      {% for message in messages %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
      {% endfor %}
      <div class="control-group">
        <div class="form-group floating-label-form-group controls">
          <label>User Name</label>
          {#{ register.username }#}
          <input type="text" class="form-control" placeholder="User Name" name="username" maxlength="150" required="" id="id_username" data-validation-required-message="Please enter your username.">
          <p class="help-block text-danger"></p>
        </div>
      </div>
      
      <div class="control-group">
        <div class="form-group floating-label-form-group controls">
          <label>Password</label>
          {#{ register.password1 }#}
          <input type="password" class="form-control" placeholder="Password" name="password" autocomplete="new-password" required="" id="id_password1" data-validation-required-message="Please enter password heare.">
          <p class="help-block text-danger"></p>
        </div>
      </div>
      <br>
      <div id="success"></div>
      <button type="submit" class="btn btn-primary" id="submit">LogIn</button>
      <p>
        <hr>
        Not a User ?
        <a class="btn-link" href="{% url 'register_page' %}">SignUp</a>
      </p>
    </form>
  </div>
</div>

{% endblock content %}
